<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4 rounded" style="max-width: 400px; width: 100%; background-color: #f8f9fa;">
    <h2 class="text-center mb-4 text-primary">Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Usuario -->
      <div class="mb-3">
        <label for="usuario" class="form-label fw-bold">Usuario</label>
        <input type="text" id="name" formControlName="name" class="form-control rounded-pill shadow-sm" placeholder="Ingresa tu usuario">
        <div *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched" class="text-danger small">
          El usuario es obligatorio.
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <label for="password" class="form-label fw-bold">Contraseña</label>
        <input type="password" id="password" formControlName="password" class="form-control rounded-pill shadow-sm" placeholder="Ingresa tu contraseña">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger small">
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>

      <!-- Botón de Inicio de Sesión -->
      <button type="submit" class="btn btn-primary w-100 rounded-pill shadow-sm" [disabled]="loginForm.invalid">
        Entrar
      </button>
    </form>
  </div>
</div>

