<div class="container mt-5">
  <h2 class="text-center">Lista de Productos</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let producto of productos">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ producto.name }}</h5>
          <p class="card-text">Precio: ${{ producto.price }}</p>
          <p class="card-text">Stock: {{ producto.stock }}</p>
          <button class="btn btn-success w-100">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>


